{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Проект "Бэкенд разработчик"</h1>
        </div>
<!--        <nav>-->
<!--            <ul>-->
<!--                <li><a href="{% url 'home' %}">Главная</a></li>-->
<!--                <li><a href="{% url 'statistics' %}">Общая статистика</a></li>-->
<!--                <li><a href="{% url 'demand' %}">Востребованность</a></li>-->
<!--                <li><a href="{% url 'geography' %}">География</a></li>-->
<!--                <li><a href="{% url 'skills' %}">Навыки</a></li>-->
<!--                <li><a href="{% url 'vacancies' %}">Последние вакансии</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
    </header>

    <div class="content">
        <aside class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'statistics' %}">Общая статистика</a></li>
                <li><a href="{% url 'demand' %}">Востребованность</a></li>
                <li><a href="{% url 'geography' %}">География</a></li>
                <li><a href="{% url 'skills' %}">Навыки</a></li>
                <li><a href="{% url 'vacancies' %}">Последние вакансии</a></li>
            </ul>
        </aside>

        <main>
            {% block content %}
            <!-- Основной контент каждой страницы будет вставляться здесь -->
            {% endblock %}
        </main>
        <div>

        </div>
    </div>

    <footer>
        <p>ФИО: Колыванов Семен Иванович</p>
        <p>Академическая группа: РИ-230943</p>
    </footer>
</body>
</html>
