{% extends 'base.html' %}

{% block content %}
    <h2>География вакансий Бэкенд разработчиков</h2>
    <h2>Уровень зарплат по городам</h2>
<table>
    <tr>
        <th>
            <table border="1">
                <tr>
                    <th>Город</th>
                    <th>Средняя зарплата</th>
                </tr>
                {% for city, avg in salary_by_city %}
                <tr>
                    <td>{{ city }}</td>
                    <td>{{ avg|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </table>
        </th>
        <th><img src="data:image/png;base64,{{ salary_by_city_graph }}" width="600" height="400"></th>
    </tr>
</table>

<h2>Доля вакансий по городам</h2>
<table>
    <tr>
        <th>
            <table border="1">
                <tr>
                    <th>Город</th>
                    <th>Доля (%)</th>
                    <th>Количество</th>
                </tr>
                {% for city, percentage in city_percentages %}
                <tr>
                    <td>{{ city }}</td>
                    <td>{{ percentage.per|floatformat:2 }}%</td>
                    <td>{{ percentage.count }}</td>
                </tr>
                {% endfor %}
            </table>
        </th>
        <th><img src="data:image/png;base64,{{ city_percentages_graph }}" width="600" height="400"></th>
    </tr>
</table>
{% endblock %}
