{% extends 'base.html' %}

{% block content %}
    <h2>География вакансий Бэкенд разработчиков</h2>
    <h3>Уровень зарплат по городам</h3>
    <table>
        <thead>
            <tr>
                <th>Город</th>
                <th>Средняя зарплата</th>
            </tr>
        </thead>
        <tbody>
            {% for item in salary_by_city %}
                <tr>
                    <td>{{ item.city }}</td>
                    <td>{{ item.avg_salary }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Доля вакансий по городам</h3>
    <table>
        <thead>
            <tr>
                <th>Город</th>
                <th>Доля вакансий</th>
            </tr>
        </thead>
        <tbody>
            {% for item in vacancy_share_by_city %}
                <tr>
                    <td>{{ item.city }}</td>
                    <td>{{ item.share }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
