{% extends 'base.html' %}

{% block content %}
<h1>Общая статистика</h1>

<h2>Динамика уровня зарплат по годам</h2>
<table>
    <tr>
        <th>
            <table border="1">
                <tr>
                    <th>Год</th>
                    <th>Средняя зарплата</th>
                </tr>
                {% for year, salary in avg_salary_by_year %}
                <tr>
                    <td>{{ year }}</td>
                    <td>{{ salary|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </table>
        </th>
        <th><img src="data:image/png;base64,{{ avg_salary_by_year_graph }}" width="600" height="400"></th>
    </tr>
</table>

<h2>Динамика количества вакансий по годам</h2>
<table>
    <tr>
        <th>
            <table border="1">
                <tr>
                    <th>Год</th>
                    <th>Количество</th>
                </tr>
                {% for year, count in vacancies_by_years %}
                <tr>
                    <td>{{ year }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </table>
        </th>
        <th><img src="data:image/png;base64,{{ vacancies_by_years_graph }}" width="600" height="400"></th>
    </tr>
</table>

<h2>Уровень зарплат по городам</h2>
<table>
    <tr>
        <th>
            <table border="1">
                <tr>
                    <th>Город</th>
                    <th>Средняя зарплата</th>
                </tr>
                {% for city, avg in salary_by_city %}
                <tr>
                    <td>{{ city }}</td>
                    <td>{{ avg|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </table>
        </th>
        <th><img src="data:image/png;base64,{{ salary_by_city_graph }}" width="600" height="400"></th>
    </tr>
</table>

<h2>Доля вакансий по городам</h2>
<table>
    <tr>
        <th>
            <table border="1">
                <tr>
                    <th>Город</th>
                    <th>Доля (%)</th>
                    <th>Количество</th>
                </tr>
                {% for city, percentage in city_percentages %}
                <tr>
                    <td>{{ city }}</td>
                    <td>{{ percentage.per|floatformat:2 }}%</td>
                    <td>{{ percentage.count }}</td>
                </tr>
                {% endfor %}
            </table>
        </th>
        <th><img src="data:image/png;base64,{{ city_percentages_graph }}" width="600" height="400"></th>
    </tr>
</table>

<h2>ТОП-20 навыков по годам</h2>
<div class="skills">
    {% for year, skills in top_20_skills_by_year %}
    <table class="skill" border="1">
        <tr>
            <th colspan="2">{{ year }}</th>
        </tr>

        {% for skill, count in skills.items %}
        <tr>
            <td>{{ skill }}</td>
            <td>{{ count }}</td>
        </tr>

        {% endfor %}
    </table>
    {% endfor %}
</div>
<img src="data:image/png;base64,{{ top_20_skills_by_year_graph }}" >
{% endblock %}

